In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#reading csv file
pokemon=pd.read_csv("C:/Users/salon/OneDrive/Desktop/project/Pokemon.csv")
#displaying first 5 values
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
#fn_plot
def show_charts(x_var,y_var,plot_type):
    #code:
    if(plot_type == 'scatter'):
        df=pd.DataFrame(np.random.rand(500,2),columns=[x_var,y_var])
        c=input("Do you wish to change the colour? [y/n]: ")
        if c=='y':
            colour=input("Enter the color: ")
            df.plot.scatter(x_var,y_var,color=colour) 
            plt.xlabel(x_var) 
            plt.ylabel(y_var) 
            plt.title('My scatter plot!')
            plt.show()
        elif c=='n':
            df.plot.scatter(x_var,y_var) 
            plt.xlabel(x_var) 
            plt.ylabel(y_var) 
            plt.title('My scatter plot!')
            plt.show()
        else:
            print("Enter a valid choice.")
        

    elif(plot_type == 'hex'):
        pokemon[pokemon[x_var] < 200].plot.hexbin(x_var, y_var, gridsize=15)
        plt.xlabel(x_var)
        plt.ylabel(y_var)
        plt.title('My Hex Bin!')
        
    elif(plot_type == 'bar'):
        pokemon[x_var].value_counts().head(15).plot.bar(color=['black', 'red', 'green', 'blue', 'cyan','yellow','purple'])
        plt.xlabel(x_var)
        plt.ylabel(y_var)
        plt.title(' My Bar graph!')
        plt.show()
        
    elif(plot_type == 'stacked'):
        pokemon1=pd.read_csv("C:/Users/salon/OneDrive/Desktop/project/Pokemon.csv", index_col='#')
        pokemon2=pokemon1.groupby([x_var,y_var]).mean()
        pokemon2.plot.bar(figsize=(30,30), stacked=True)
        plt.title(' My Stacked graph!')
        plt.xlabel(x_var)
        plt.show()
        
    elif(plot_type == 'line'):
        pokemon1=pd.read_csv("C:/Users/salon/OneDrive/Desktop/project/Pokemon.csv", index_col='#')
        pokemon2=pokemon1.groupby([x_var,y_var]).mean()
        pokemon2.plot.line()
        plt.xlabel(x_var)
        plt.title('My Line graph!')
        plt.show()                     
        
    else:
        print("Plot type cannot be recognized !")
        return